<app-carousel [itemPerPage]="3">
    <ng-template carouselItem>
        <div>This is test 1</div>
        <img src="https://www.w3schools.com/w3css/img_snowtops.jpg" alt="">
    </ng-template>
    <ng-template carouselItem>
        <div>This is test 2</div>
        <img src="https://www.w3schools.com/w3css/img_lights.jpg" alt="">

    </ng-template>
    <ng-template carouselItem>
        <div>This is test 3</div>
        <img src="https://www.w3schools.com/w3css/img_mountains.jpg" alt="">

    </ng-template>
    <ng-template carouselItem>
        <div>This is test 4</div>
        <img src="https://www.w3schools.com/w3css/img_forest.jpg" alt="">
    </ng-template>
    <ng-template carouselItem>
        <div>This is test 5</div>
        <img src="https://www.w3schools.com/w3css/img_mountains.jpg" alt="">

    </ng-template>
    <ng-template carouselItem>
        <div>This is test 6</div>
        <img src="https://www.w3schools.com/w3css/img_lights.jpg" alt="">

    </ng-template>
</app-carousel>