.table-fixed-header {
    td, th {
        min-width: 80px;
    }

    thead {
        display: block;
        width: 100%;
    }

    
    tbody {
        display: block;
        max-height: 200px;
        overflow: auto;
        width: 100%;
        tr {
            display: table;
            width: 100%;
        }
    }
}